<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breeds</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <ul>
        <% for (let result of results) { %>
            <li><a href="/breeds/<%= result.id %>"><%= result.name %></a></li>
            <img src="<%= result.image.url %>" alt="<%= result.name %>">
        <% } %>
    </ul>
</body>
</html>