<%- include('partials/head') %>
    <ul>
        <% for (let result of results) { %>
            <li><a href="/breeds/<%= result.id %>"><%= result.name %></a></li>
            <img src="<%= result.image.url %>" alt="<%= result.name %>">
        <% } %>
    </ul>
<%- include('partials/footer') %>