<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <ul>
        <% for (let result of results) { %>
            <li><h2><%= result.name %></h2></li>
            <% if(result.breed_group) { %>
                <p>Breed group: <%= result.breed_group %></p>
            <% } %>
            <% if(result.bred_for) { %>
                <p>Bred for: <%= result.bred_for %></p>
            <% } %>
            <p>Life span: <%= result.life_span %></p>
            <% if(result.temperament) { %>
                <p>Personality: <%= result.temperament %></p>
            <% } %>
            <a href="/breeds/<%= result.id %>">See more</a>
        <% } %>
    </ul>
</body>
</html>