<%- include('partials/head') %>
    <ul>
        <% for (let result of results) { %>
            <li><h2><%= result.name %></h2></li>
            <% if(result.breed_group) { %>
                <p>Breed group: <%= result.breed_group %></p>
            <% } %>
            <% if(result.bred_for) { %>
                <p>Bred for: <%= result.bred_for %></p>
            <% } %>
            <p>Life span: <%= result.life_span %></p>
            <% if(result.temperament) { %>
                <p>Personality: <%= result.temperament %></p>
            <% } %>
            <a href="/breeds/<%= result.id %>">See more</a>
        <% } %>
    </ul>
<%- include('partials/footer') %>